/* <![CDATA[ */
#wp_calc_finance_0 {
  border-color: #1a9f29
  }
  #wp_calc_finance_0 .wp-calc-finance-slider .slider-btn,
  #wp_calc_finance_0 .wp-calc-finance-slider .ui-widget-header { 
    background: #1a9f29 !important;
  } 
  #wp_calc_finance_0 .wp-calc-finance-slider .slider-btn:before { 
    border-bottom-color: #1a9f29;
  }
  #wp_calc_finance_0 .btn-switcher .switcher__button--active, 
  #wp_calc_finance_0 .btn-switcher .switcher__button--active:hover {
      background: #1a9f29;
  }
  #wp_calc_finance_0 .calc_finance_button {
    
    background-image: none;
  background-color: #1a9f29 !important;
  }
  #wp_calc_finance_0 .calc_finance_reset_button {
  display: initial !important;
  }
  #wp_calc_finance_0 input[type="text"], 
  #wp_calc_finance_0 input[type="tel"], 
  #wp_calc_finance_0 input[type="number"], 
  #wp_calc_finance_0 input[type="date"], 
  #wp_calc_finance_0 select, 
  #wp_calc_finance_0 textarea {
  border-color: #1a9f29 !important;
  }
  #wp_calc_finance_0 table.table-schedule th {
    
    background-image: none;
  background-color: #1a9f29 !important;
  }
  #wp_calc_finance_0 input[type="text"].result {
    background-color: inherit !important;
  }


  .wp-calc-finance .advert-js {
    text-align: center;
    width: 100%;
  }
  
  .wp-calc-finance .wp-calc-finance-contract .wp-calc-finance-label {
    margin-top: 10px;
  }
  
  .wp-calc-finance .wp-calc-finance-contract .includeFeesLoan .wp-calc-finance-val {
    margin-top: 10px;
  }
  
  .wp-calc-finance .wp-calc-finance-result {
    font-size: 90%;
  }
  
  .wp-calc-finance .wp-calc-finance-result tr,
  .wp-calc-finance .wp-calc-finance-layout tr {
    background: inherit !important;
    color: inherit !important;
  }
  
  .wp-calc-finance .wp-calc-finance-result tr td,
  .wp-calc-finance .wp-calc-finance-layout tr td {
    font-weight: normal !important;
  }
  
  .wp-calc-finance .wp-calc-finance-contract .credit .wp-calc-finance-label,
  .wp-calc-finance .wp-calc-finance-contract .term .wp-calc-finance-label,
  .wp-calc-finance .wp-calc-finance-contract .percent .wp-calc-finance-label,
  .wp-calc-finance .wp-calc-finance-contract .includeFeesLoan .wp-calc-finance-label
  {
    font-weight: bold;
  }
  
  .wp-calc-finance table.wp-calc-finance-result,
  .wp-calc-finance table.wp-calc-finance-result td,
  .wp-calc-finance table.wp-calc-finance-layout,
  .wp-calc-finance table.wp-calc-finance-layout th,
  .wp-calc-finance table.wp-calc-finance-layout td
   {
    border: none;
  }
  
  .wp-calc-finance .wp-calc-finance-result .wp-calc-finance-label {
    font-weight: bold;
  }
  
  .wp-calc-finance-slider .slider-btn.ui-state-default,
  .wp-calc-finance-slider .slider-btn { 
    background: #3cc88c !important;
    background-color: #3cc88c !important;
    display: inline-block !important;
    height: 10px !important;
    margin-left: -7px !important;
    position: relative !important;
    width: 16px !important;
    cursor: pointer;
    border:10px !important;
    border-radius: 0 !important;
    top:-11px !important;
    box-shadow: none !important;
  } 
  .wp-calc-finance-slider .slider-btn:before { 
    border-bottom: 7px solid #3cc88c;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -7px;
    width: 0;
  }
  
  .wp-calc-finance .wp-calc-finance-slider {
    margin-top: -2px;
    width: 79.5%;
    margin-left: 0px;
    line-height: 30px;
  }
  .wp-calc-finance .ui-slider-horizontal {
      height: 3px !important;
  }
  .wp-calc-finance-slider .ui-state-default {
    margin-top: -3px;
  }
  
  .wp-calc-finance .ui-widget-content {
      border: 0px solid #3cc88c !important;
      background: none;
  }
  
  .wp-calc-finance .wp-calc-finance-slider .ui-widget-header {
    background: #3cc88c !important;
  }
  /*
  .wp-calc-finance-slider .ui-slider-handle {
      border: 0px;
      background: url(../images/slider_btn.png) no-repeat center;
      font-weight: normal;
      color: #555555;
  }*/
  
  .wp-calc-finance-slider,
  .wp-calc-finance-slider .ui-slider-range {
      border-radius: inherit !important;
  }
  
  .wp-calc-finance .btn-switcher {
      display: inline-flex;
      padding-left: 1px;
      margin: 0px;
  }
  
  .wp-calc-finance .btn-switcher .switcher__button {
      position: relative;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      /*height: 40px;*/
      margin-left: -1px;
      padding: 10px 10px;
      box-shadow: inset 0 0 0 1px #bdc3c7;
      color: #222;
      line-height: 1.333333333333333em;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: background-color .4s;
      transition: background-color .4s;
  }
  
  .wp-calc-finance .btn-switcher .switcher__button--active, 
  .wp-calc-finance .btn-switcher .switcher__button--active:hover {
      background: #3cc88c;
      box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.2);
      color: #fff;
      cursor: default;
      z-index: 3;
      font-size: 92%;
  }
  
  .wp-calc-finance .btn-switcher li {
      list-style: none !important;
      background: transparent;
      margin-bottom: 0px !important;
  }
  
  .wp-calc-finance .btn-switcher li::before {
      background: transparent !important;
      content: '' !important;
  }
  
  
  .wp-calc-finance {
    font-weight: normal;	
    border: 1px solid #3cc88c;
    padding: 15px;
    background:#fff;	
    margin: auto;	
    overflow: auto;
    color:#000;
  }
  
  .wp-calc-finance .buttons {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .wp-calc-finance h3 {
    font-size: 150%;
  }
  
  .wp-calc-finance .osago-result,
  .wp-calc-finance .osago-result-currency {
  }
  
  .wp-calc-finance span.result,
  .wp-calc-finance input.result {
    border: 1px dashed #3cc88c !important;
    background-color: inherit !important;
  }
  
  .wp-calc-finance .table-schedule {
      margin-top: 15px;
  }
  
  .wp-calc-finance .table-schedule tr {
      background-color: inherit;
      color: inherit;    
  }
  
  .wp-calc-finance .table-schedule th {
      background: #efefef;
      font-size: 95%;
      vertical-align: middle;
      border: 1px solid #E9E9E9;
      font-weight: bold;
      color: #000;
  }
  
  .wp-calc-finance .table-schedule td.subheader {
    font-weight: bold;
  }
  
  .wp-calc-finance .table-schedule tfoot td {
    font-weight: bold;
  }
  
  .wp-calc-finance .table-schedule td.payment {
    font-weight: bold;
  }
  
  .wp-calc-finance .table-schedule td {
    border: 1px solid #E9E9E9;
    font-size: 95%;
    vertical-align: middle !important;
    padding: 10px !important;
  }
  
  .wp-calc-finance .pdf_icon {
    background-image: url(images/pdf_icon.png);
    width:32px;
    height:32px;
    margin: auto;
    margin-right:10px;
      display: inline-block;
      float:right;
  }
  
  .wp-calc-finance .graph_icon {
    background-image: url(images/graph_icon.png);
    width:32px;
    height:32px;
    margin: auto;
    margin-right:10px;
      display: inline-block;
      float:right;
  }
  
  .wp-calc-finance-chart .ui-state-default .ui-icon {
      background-image: url(../images/ui-icons_888888_256x240.png) !important;
  }
  
  .wp-calc-finance input[type=text],
  .wp-calc-finance input[type=tel],
  .wp-calc-finance input[type=number], 
  .wp-calc-finance input[type=date], 
  .wp-calc-finance select, 
  .wp-calc-finance textarea {
    background: #efefef;	
    border: 1px solid #cecece;
    padding: 10px;
    width: 80% !important;
    height: auto !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 2px;
    margin-left: 0px;
    color:#000;
      font-size: 100%;
  }
  .wp-calc-finance input[type=text]:focus,
  .wp-calc-finance input[type=tel]:focus,
  .wp-calc-finance input[type=number]:focus,
  .wp-calc-finance select:focus {
    background:#fff;
  }
  
  .wp-calc-finance button,
  .wp-calc-finance input[type=button],
  .wp-calc-finance input[type=submit] {
    background: #3cc88c;
      border: 0px;	   
    text-align:center;	   
    color:#fff;
    font-size:130%;
    font-weight:700;	   
      width: initial;
    height:50px;
    padding:5px 20px;
    cursor:pointer;
  }
  
  .wp-calc-finance button:focus,
  .wp-calc-finance input[type=button]:focus,
  .wp-calc-finance input[type=submit]:focus {
    background:#20a866;		
  }
  
  .wp-calc-finance input[type=reset]{
    background:#4C4C4C;		
      border: 0px;	   
    text-align:center;
    color:#fff;
    font-size:130%;
    font-weight:700;
      width: initial;		
    height:50px;
    padding:5px 10px;
    cursor:pointer;
  }
  .wp-calc-finance input[type=reset]:focus{background:#4d4d4d}
  .wp-calc-finance input[readonly],.wp-calc-finance input[type=text]:disabled{background:#fff;border:1px solid #f07d7d}
  
  .group{padding:5px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:5px 0}.group_con{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:20%;padding-right:5px;margin-bottom:5px}.group_stats{width:13%!important}.group_small{width:10%!important}.group_con_width{width:5%!important}.group span{display:table-cell;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-right:2px;font-family:Arial,Helvetica,sans-serif;padding-left:5px}.group label{font-family:Arial,Helvetica,sans-serif;padding-left:4px;display:block}.matrix{width:9.5%!important;padding:2px;margin-right:2px!important;margin-bottom:2px!important;float:left!important}.width_100{width:100%}.width_95{width:95%!important}.width_90{width:90%!important}.width_80{width:80%!important}.width_60{width:60%!important}.width_45{width:45%!important}.general_list{margin:20px;padding:0}
  .group_con{width:30%}.group label{text-align:left}
  .group_con,.group_con_100,.group_con_30,.group_con_40,.group_con_25{width:100%!important}.matrix{width:9%!important}
  .group_con_edit{-moz-box-sizing:border-box;float:left!important;margin-bottom:5px;padding-right:5px}.group_con_100{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:100%;padding-right:5px;margin-bottom:5px}.group_con_40{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:40%;padding-right:5px;margin-bottom:5px}.group_con_30{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:30%;padding-right:5px;margin-bottom:5px}.group_con_25{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left!important;width:25%;padding-right:5px;margin-bottom:5px}
  .group:after,.group:before{content:"";display:table}.group:after{clear:both}.group{zoom:1}
  .group_specific label{color:#000;font:bold 14px Arial,Helvetica,sans-serif!important}.group_specific input[type="text"]:disabled,.group_specific input[readonly]{border:1px solid #898989;box-shadow:7px 7px 5px -6px rgba(0,0,0,0.3) inset}.matrixFormat{border-collapse:inherit!important;width:auto!important;border-radius:20px!important;border-left:3px solid #333!important;border-right:3px solid #333!important;padding:5px!important;font:bold 14px Arial,Helvetica,sans-serif!important;margin:5px;color:#3F3F3F}.matrixFormat td{padding:5px!important}.matrixHighLight{background:#C6C9CE}
  
  .radio_check{padding:7px 5px;font-size:14px;margin-right:4px;float:left;font-family:Arial,Helvetica,sans-serif;color:#717070;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
  .result{margin-top:10px;background:#e4ddcb;padding:14px 20px;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow: auto;}
  .result_box{background:#fff;-webkit-box-shadow:inset 7px 7px 5px -6px rgba(0,0,0,.3);-moz-box-shadow:inset 7px 7px 5px -6px rgba(0,0,0,.3);box-shadow:inset 7px 7px 5px -6px rgba(0,0,0,.3);border:1px solid #f07d7d;border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;margin:5px 0}
  .group label{text-align:left}
  
  .wp-calc-finance table{width:99%;border-collapse:collapse}
  .wp-calc-finance table,.wp-calc-finance td,.wp-calc-finance th{border:none}
  
  .customTextarea{min-height:200px!important}
  .selectWidth{width:95%!important}
  .selectWidth80{width:80%!important}
  .selectWidth90{width:90%!important}
  .textboxRight{float:right!important}
  
  .wp-calc-finance-col {
    position:relative;
    width: 100%;
    float: left;	
    min-height: 1px;	
    white-space: normal
  }  
  .wp-calc-finance-col-1, .wp-calc-finance-col-2, .wp-calc-finance-col-3, .wp-calc-finance-col-4, .wp-calc-finance-col-5, .wp-calc-finance-col-6, .wp-calc-finance-col-7, .wp-calc-finance-col-8, .wp-calc-finance-col-9, .wp-calc-finance-col-10, .wp-calc-finance-col-11, .wp-calc-finance-col-12 {
    float: left;	
    min-height: 1px;	
    padding-top: 15px;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
  }    
  .wp-calc-finance-col-12 {width: 100%;}
  .wp-calc-finance-col-11 {width: 91.66666666666666%;}
  .wp-calc-finance-col-10 {width: 83.33333333333334%;}
  .wp-calc-finance-col-9 {width: 75%;}
  .wp-calc-finance-col-8 {width: 66.66666666666666%;}
  .wp-calc-finance-col-7 {width: 58.333333333333336%;}
  .wp-calc-finance-col-6 {width: 50%;}
  .wp-calc-finance-col-5 {width: 41.66666666666667%;}
  .wp-calc-finance-col-4 {width: 33.33333333333333%;}
  .wp-calc-finance-col-3 {width: 25%;}
  .wp-calc-finance-col-2 {width: 16.666666666666664%;}
  .wp-calc-finance-col-1 {width: 8.333333333333332%;}
  .subforcalc{
    width: 80%;
    max-width: 550px;
    margin: 3em auto;
    padding: 1em;
    box-shadow:
    -15px -15px 2px -5px rgba(160,82,45,.5),
    -15px 15px 2px -5px rgba(0,255,255,.5),
    15px -15px 2px -5px rgba(255,0,0,.5),
    15px 15px 2px -5px rgba(255,255,0,.5);
  }
  @media only screen and (max-width: 480px) {
      .wp-calc-finance-col {
      white-space: normal;
    } 
      .wp-calc-finance-col-1, .wp-calc-finance-col-2, .wp-calc-finance-col-3, .wp-calc-finance-col-4, .wp-calc-finance-col-5, .wp-calc-finance-col-6, .wp-calc-finance-col-7, .wp-calc-finance-col-8, .wp-calc-finance-col-9, .wp-calc-finance-col-10, .wp-calc-finance-col-11, .wp-calc-finance-col-12 {
      width: 100%;
      display: block;
    }  
  }
  a.downlink{
      margin-bottom: 10px;    
  }
  
  /* c3 */
  /*-- Chart --*/
  
  .c3 svg {
    font: 10px sans-serif;
    -webkit-tap-highlight-color: transparent; }
  
  .c3 path, .c3 line {
    fill: none;
    stroke: #000; }
  
  .c3 text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  
  .c3-legend-item-tile,
  .c3-xgrid-focus,
  .c3-ygrid,
  .c3-event-rect,
  .c3-bars path {
    shape-rendering: crispEdges; }
  
  .c3-chart-arc path {
    stroke: #fff; }
  
  .c3-chart-arc text {
    fill: #fff;
    font-size: 13px; }
  
  /*-- Axis --*/
  /*-- Grid --*/
  .c3-grid line {
    stroke: #aaa; }
  
  .c3-grid text {
    fill: #aaa; }
  
  .c3-xgrid, .c3-ygrid {
    stroke-dasharray: 3 3; }
  
  /*-- Text on Chart --*/
  .c3-text.c3-empty {
    fill: #808080;
    font-size: 2em; }
  
  /*-- Line --*/
  .c3-line {
    stroke-width: 1px; }
  
  /*-- Point --*/
  .c3-circle._expanded_ {
    stroke-width: 1px;
    stroke: white; }
  
  .c3-selected-circle {
    fill: white;
    stroke-width: 2px; }
  
  /*-- Bar --*/
  .c3-bar {
    stroke-width: 0; }
  
  .c3-bar._expanded_ {
    fill-opacity: 1;
    fill-opacity: 0.75; }
  
  /*-- Focus --*/
  .c3-target.c3-focused {
    opacity: 1; }
  
  .c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
    stroke-width: 2px; }
  
  .c3-target.c3-defocused {
    opacity: 0.3 !important; }
  
  /*-- Region --*/
  .c3-region {
    fill: steelblue;
    fill-opacity: .1; }
  
  /*-- Brush --*/
  .c3-brush .extent {
    fill-opacity: .1; }
  
  /*-- Select - Drag --*/
  /*-- Legend --*/
  .c3-legend-item {
    font-size: 12px; }
  
  .c3-legend-item-hidden {
    opacity: 0.15; }
  
  .c3-legend-background {
    opacity: 0.75;
    fill: white;
    stroke: lightgray;
    stroke-width: 1; }
  
  /*-- Title --*/
  .c3-title {
    font: 14px sans-serif; }
  
  /*-- Tooltip --*/
  .c3-tooltip-container {
    z-index: 10; }
  
  .c3-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    -webkit-box-shadow: 7px 7px 12px -9px #777777;
    -moz-box-shadow: 7px 7px 12px -9px #777777;
    box-shadow: 7px 7px 12px -9px #777777;
    opacity: 0.9; }
  
  .c3-tooltip tr {
    border: 1px solid #CCC; }
  
  .c3-tooltip th {
    background-color: #aaa;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: #FFF; }
  
  .c3-tooltip td {
    font-size: 13px;
    padding: 3px 6px;
    background-color: #fff;
    border-left: 1px dotted #999; }
  
  .c3-tooltip td > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px; }
  
  .c3-tooltip td.value {
    text-align: right; }
  
  /*-- Area --*/
  .c3-area {
    stroke-width: 0;
    opacity: 0.2; }
  
  /*-- Arc --*/
  .c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1.3em; }
  
  .c3-chart-arcs .c3-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none; }
  
  .c3-chart-arcs .c3-chart-arcs-gauge-unit {
    fill: #000;
    font-size: 16px; }
  
  .c3-chart-arcs .c3-chart-arcs-gauge-max {
    fill: #777; }
  
  .c3-chart-arcs .c3-chart-arcs-gauge-min {
    fill: #777; }
  
  .c3-chart-arc .c3-gauge-value {
    fill: #000;
    /*  font-size: 28px !important;*/ }
  
  .c3-chart-arc.c3-target g path {
    opacity: 1; }
  
  .c3-chart-arc.c3-target.c3-focused g path {
    opacity: 1; }
  


  .table-schedule th {
    padding: 6px 10px;
  }