.reader {
    max-width: 900px;
    margin: 20px auto;
}

.toolbar-wrapper {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.reader .text {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.toolbar-wrapper .btn-group > * {
    width: 60px;
}

.background-list {
    width: auto !important;
    padding: 5px !important;
}

/* .background-list-inner {
    padding: 5px;
} */

.glyphicon {
    font-size: 15px;
    line-height: 1.5 !important; 
}

.btn-group {
    display: inline-flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .toolbar-wrapper .btn-group > * {
        width: 45px;
    }
    
    .glyphicon {
        font-size: 12px;
    }
    .toolbar-wrapper {
        margin-top: 0;
    }
}

@media screen and (max-width: 540px) {
    .toolbar {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* .toggle-group {
        display: flex !important;
    }
    .toggle-group .btn {
        margin-top: 20px;        
    } */
    .reader-background {
        width: 150px !important;
        height: 70px !important;
    }
    /* .background-list {
        position: fixed !important;
        top: 25% !important;
    } */
}

.reader-background {
    width: 200px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    display: block;
}

.reader-background:hover {
    border-color: #777;
}

.theme-dark .btn-group > *, .theme-dark .btn-group a {
    color: #ccc;
    background: #444;
}

.theme-dark .dropdown-backdrop {
    background: transparent !important;
}

/* 

.text-color-picker, .background-color-picker {
    border-bottom: 2px solid #000;
    width: 30px;
}
 */


/* .btn-group:not(:first-child) > * {
    padding-bottom: 8px !important;
} */
/* 
label {
    margin-bottom: 0 !important;
    cursor: pointer;
    font-weight: normal !important;
} */

.sp-replacer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    position: relative;
}

.tooltip { pointer-events: none; }