.theme-dark, .theme-dark .toolbar-wrapper {
    background: #444;
}


.theme-dark .reader .content {
    color: #fff;
}



.reader {
    max-width: 900px;
    margin: 20px auto;
}

.toolbar-wrapper {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.reader .content {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 400px;
}

.toolbar-wrapper .btn-group > * {
    width: 60px;
}

.background-list {
    width: auto !important;
    padding: 5px !important;
}

.glyphicon {
    font-size: 15px;
    line-height: 1.5 !important; 
}

.btn-group {
    display: inline-flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .toolbar-wrapper .btn-group > * {
        width: 45px;
    }
    
    .glyphicon {
        font-size: 12px;
    }
    .toolbar-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 540px) {
    .toolbar {
        padding-left: 20px;
        padding-right: 20px;
    }

    .reader-background {
        width: 150px !important;
        height: 70px !important;
    }
}

.reader-background {
    width: 200px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    display: block;
}

.reader-background:hover {
    border-color: #777;
}

.theme-dark .toolbar-wrapper .btn-group > *, .theme-dark .btn-group a {
    color: #ccc;
    background: #444;
}

.theme-dark .toolbar-wrapper .dropdown-backdrop {
    background: transparent !important;
}


.sp-replacer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    position: relative;
}

.tooltip { pointer-events: none; }


.loader-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
}
 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.book-description {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.reader-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100vh;
}