
.theme-dark .reader .content {
    color: #fff;
}

/* .theme-dark,  */
.theme-dark .toolbar, 
.theme-dark .toolbar-wrapper,
.theme-dark .book-description,
.theme-dark .page-wrapper > div {
    background: #2b2a2a !important;
}

.theme-dark .toolbar-wrapper .btn-group > *, 
.theme-dark .btn-group a, 
.theme-dark .row-flex *,
.theme-dark .row-flex *:hover,
.theme-dark .row-flex *:focus,
.theme-dark .page-wrapper .page-misc * {
    color: #ccc;
    background: #2b2a2a;
}

.theme-dark .toolbar-wrapper .dropdown-backdrop {
    background: transparent !important;
}


.reader {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 92px;
}

.toolbar-wrapper {
    text-align: center;
    display: none !important;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-bottom: 5px; */
    /* padding: 5px 10px; */
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */
    /* background: #fff; */
}

body, .reader .content {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.reader .content {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;
}

.reader .content .inner {
    height: inherit;
}

.toolbar-wrapper .btn-group > * {
    width: 60px;
}

.background-list {
    width: auto !important;
    padding: 5px !important;
}

.glyphicon {
    font-size: 15px;
    line-height: 1.5 !important; 
}

.btn-group {
    display: inline-flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .toolbar-wrapper .btn-group > *,
    .page-misc > * {
        width: 45px;
    }
    
    .glyphicon {
        font-size: 12px;
    }
    /* .toolbar-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    } */
}

.reader-background {
    width: 200px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    display: block;
}

.reader-background:hover {
    border-color: #777;
}

.sp-replacer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    position: relative;
}

.tooltip { pointer-events: none; }


.loader-wrapper {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    z-index: 1500;
}

.loader-wrapper > div {
    margin: 0 auto;
    display: block;
    width: 100%;
    /* max-width: 1000px; */
    padding: 10px;
    text-align: right;
    background: transparent;
}

.loader {
    display: inline-block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
}
 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* .sticky {
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    z-index: 100;
} */

.book-description, .toolbar-wrapper {
    /* background-color: #f1f1f1; */
    /* padding: 20px; */
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border-radius: 3px; */
    position: absolute;
    width: 100%;
    margin-top: 1px;
    left: 0px;
    display: flex;
    justify-content: center;
    background: #f0efef;
}

.book-description .row-flex, .toolbar-wrapper .toolbar {
    width: 1000px;
    /* padding-top: 8px; */
    padding: 5px 10px;
}

.reader-fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    z-index: 1050;
}

.content .fullscreen-off {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 20px;
}

.content .fullscreen-off:hover {
    color: #444;
}

.reader-fullscreen .fullscreen-off {
    display: block;
}

.theme-dark .fullscreen-off {
    color: #fff;
}
.theme-dark .fullscreen-off:hover {
    color: #d6d6d6;
}

.navbar .navbar-nav .glyphicon {
    margin-right: 5px;
}


.page-btn {
    height: 30px;
}

.page-btn input {
    height: inherit;
}

.page-input {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-flex > div {
    flex-grow: 1;
}

.row-flex > div {
    flex-basis: 50%;
}

/* .row-flex > div:nth-child(2) {
    flex-basis: 50%;
} */

/* 
.navbar-fixed-top {
    height: 54px;
} */

/* 
.content {
    position: relative;
}


.content .page-btn {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    width: 40px;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
}

.content .page-btn .glyphicon {
    font-size: 30px;
}

.content .page-btn:hover {
    background: rgba(0, 0, 0, 0.173);
    opacity: 1;
}

.content .prev-page {
    left: 0;
}

.content .next-page {
    right: 0;
}


.reader-fullscreen .page-btn {
    position: fixed;
}

.reader-fullscreen .next-page {
    padding-right: 16px;
} */

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 28px !important;
}

h2 {
    font-size: 22px !important;
}

#pageInput {
    text-align: center;
    width: 100%;
    padding: 3px 2px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.line {
    margin-top: 0;   
    margin-bottom: 5px;  
}


.toggle-group .btn, .toolbar .btn, .flex-nowrap .btn, .page-misc .btn {
    padding-top: 2px;
    padding-bottom: 2px;
}

.fav-btn {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

/* .navbar .container {
    padding-bottom: 5px;
} */

@media (max-width: 768px) {
    .text-xs-center {
        text-align: center !important;
    } 
}


.desc-title {
    height: 100%;
    display: flex;
    align-items: center;
}

.desc-title span {
    margin-right: 3px;
}

.desc-title a {
    display: inline-block;
    white-space: nowrap;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* @media (max-width: 800px) {
    .desc-title a {
        width: 150px;
    } 
}

@media (max-width: 540px) {
    .desc-title a {
        width: 100px;
    } 
} */

@media (max-width: 420px) {
    .desc-title a {
        width: 250px;
    } 
}

@media (max-width: 340px) {
    .desc-title a {
        width: 200px;
    } 
}

.flex-nowrap {
    flex-wrap: nowrap;
}


.text-dark {
    color: #000;
}


@media screen and (max-width: 350px) {
    .navbar-brand img{
        width: 70px;
    }
}

@media screen and (max-width: 768px) {
    .book-description .row-flex{
        padding-left: 15px;
        padding-right: 15px;
    }
}



.page-wrapper {
    width: 100%;
}

.page-wrapper .page-misc {
    margin: 0 auto;
    width: 768px;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
}

.page-wrapper > div {
    padding: 5px;
    max-width: 1000px;
    background: #f0efef;
    margin: 0 auto;

    /* display: flex; */
    /* justify-content: center; */
}

@media screen and (max-width: 787px) {
    .page-wrapper .page-misc {
        width: 710px;
    }
}
@media screen and (max-width: 728px) {
    .page-wrapper .page-misc {
        width: 650px;
    }
}
@media screen and (max-width: 720px) {
    .page-wrapper .page-misc {
        width: 573px;
    }
}
@media screen and (max-width: 592px) {
    .page-wrapper .page-misc {
        width: 529px;
    }
}
@media screen and (max-width: 548px) {
    .page-wrapper .page-misc {
        width: 485px;
    }
}
@media screen and (max-width: 504px) {
    .page-wrapper .page-misc {
        width: 442px;
    }
}
@media screen and (max-width: 460px) {
    .page-wrapper .page-misc {
        width: 398px;
    }
}
@media screen and (max-width: 416px) {
    .page-wrapper .page-misc {
        width: 352px;
    }
}
@media screen and (max-width: 372px) {
    .page-wrapper .page-misc {
        width: 308px;
    }
}
@media screen and (max-width: 327px) {
    .page-wrapper .page-misc {
        width: 265px;
    }
}
