section.body {
  background: $body-background;
  padding-top: 34px;
  margin-top: -4px;
  padding-bottom: 75px;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.19);

  @include lg(padding-top, 28px);
  @include md(padding-top, 20px);
  @include sm(padding-top, 15px);
  @include xs(padding-top, 10px);

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $body-navigation-h-lines-color;
    border-bottom: 1px solid $body-navigation-h-lines-color;
    padding: 21px 0;

    a {
      color: #777777;
      letter-spacing: 1.4px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 21px;
      position: relative;
      top: 3px;
      
      @include md-block {
        font-size: 12px;
        margin: 0 15px;
      }

      @include sm-block {
        font-size: 11px;
        margin: 0 10px;
      }

      @include xs-block {
        margin: 0 5px;
      }

      &:not(:last-child):after {
        content: ' ';
        display: block;
        position: absolute;
        top: -50%;
        left: 100%;
        width: 1px;
        background: $body-navigation-v-lines-color;
        height: 190%;
        transform: translateX(18px) rotateZ(20deg);

        @include md(transform, translateX(12px) rotateZ(20deg));
        @include sm(transform, translateX(8px) rotateZ(20deg));
        @include xs(display, none);
      }

      &:hover {
        color: #000000;
      }
    }
  }
}