header {
  padding: 28px 0;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.57);
  z-index: 10;

  @include md(padding, 15px 0);
  @include sm(padding, 10px 0);

  .container,
  .right {
    display: flex;
    align-items: center;
  }

  .container {
    justify-content: space-between;
  }

  .logo {
    margin-left: -2px;
    height: 35px;
  }

  nav {
    user-select: none;
    @include sm(display, none);
  }

  nav a,
  .search {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #828282;
    font-weight: bold;
    letter-spacing: 1.05px;
    margin: 0 21px;

    @include md-block {
      font-size: 12px;
      margin: 0 15px;
    }

    @include sm-block {
      margin: 0 4px;
    }

    @include xs-block {
      font-size: 10px;
      margin: 0 2px;
    }

    &.active,
    &:hover {
      color: #000;
    }
  }

  .menu {
    display: none;
    cursor: pointer;
    padding: 5px 5px 0;
    border-radius: 50%;

    @include sm(display, block);

    &:hover {
      background: rgba(0, 0, 0, 0.08);
    }

    img {
      width: 20px;
      position: relative;
      top: -1px;
    }
  }

  .search {
    padding: 7px;
    margin-right: 14px;
    margin-left: 24px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .line::after {
    content: ' ';
    display: block;
    width: 20px;
    height: 1px;
    background: #000;
    position: relative;
    left: 5px;

    @include sm(display, none);
  }
}
