@import './../../node_modules/normalize.css/normalize';
@import 'smart-grid';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/solid.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/brands.min.css';

$body-navigation-h-lines-color: #d7d7d7;
$body-navigation-v-lines-color: #e1e1e1;
$body-background: #fafafa;

@import 'common';
@import 'header';
@import 'slider';
@import 'body';
@import 'galery';
@import 'footer';