* {
  box-sizing: border-box;
}

body {
  // width: 1600px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  @include wrapper();
}

.row {
  @include row-flex();
  justify-content: center;
}